.content-wrap {
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    .content-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        h3 {
            font-weight: 500;
            color: #0b3190;
            font-size: 16px;
        }
    }
}

.overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.com-btn{
    width: 146px;
}

tr th{
    background: rgb(249, 249, 249)!important;
}

.el-table-column--selection  .cell{
    padding-left: 15px!important;
}

table {
    .detail{
        color: #0b3190;
        text-decoration: underline;
    }
    .handle{
        cursor: pointer;
    }
}

.pagination{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.defalut-btn{
    width: 96px;
    border-color: #546eb1!important;
    color: #546eb1!important;
}

.content-box .com-btn{
    width: 116px;
}

.dialog{
    .wrap{
        background: rgb(249, 249, 249);
    }
    .text{
        margin-left: 5px;
    }
    .el-select, .dialog .el-date-editor{
        width: 100%!important;
    }
} 

.big-form{
    .el-dialog__body{
        padding: 10px 20px;
    }
    .el-form{
        padding: 0!important;
    }
    h3{
        padding: 25px;
        color:#333;
    }
    .el-form-item__content, .el-input__inner{
        width: 230px;
    }
    .cust-item{
        width: 730px!important;
        .el-form-item__content{
            width: 600px;
        }
        .el-input__inner{
            width: 100%;
        }
    }
}

form .el-date-editor--date{
    width: 100%!important
}

.el-dialog{
    margin-top:10vh!important;
}

.select-dialog tbody{
    cursor: pointer;
}

.select-btn .el-input-group__append{
    background: #0b3190!important;
    color: #fff!important
}

label{
    font-weight: 500!important
}